.Rproj.user
.Rhistory
.RData
.Rproj.user/shared/notebooks/paths
.Rproj.user/FDF08713/sources/s-F624FDAF/lock_file
.Rproj.user/FDF08713/sources/s-F624FDAF/9FFEB4C5-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/9FFEB4C5
.Rproj.user/FDF08713/sources/s-F624FDAF/8A2A42D9-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/8A2A42D9
.Rproj.user/FDF08713/sources/s-F624FDAF/4C52FAE0-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/4C52FAE0
.Rproj.user/FDF08713/sources/s-F624FDAF/3F13453F-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/3F13453F
.Rproj.user/FDF08713/sources/s-F624FDAF/14C4EBBF-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/14C4EBBF
.Rproj.user/FDF08713/sources/s-F624FDAF/0DF7D014-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/0BB1E7A7-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/0BB1E7A7
.Rproj.user/FDF08713/sources/s-F624FDAF/0116BC06-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/0116BC06
.Rproj.user/FDF08713/sources/prop/INDEX
.Rproj.user/FDF08713/sources/prop/AFFF929D
.Rproj.user/FDF08713/sources/prop/AE6019DE
.Rproj.user/FDF08713/sources/prop/A80B5C95
.Rproj.user/FDF08713/sources/prop/98A52E27
.Rproj.user/FDF08713/rmd-outputs
.Rproj.user/FDF08713/pcs/workbench-pane.pper
.Rproj.user/FDF08713/pcs/files-pane.pper
.Rproj.user/FDF08713/bookdown-crossref/index.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/07-references.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/06-share.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/05-blocks.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/04-citations.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/03-parts.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/02-cross-refs.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/01-intro.Rmd.xref
.Rproj.user/FDF08713/bibliography-index/biblio.json
.Rproj.user/FDF08713/bibliography-index/biblio-files
.Rhistory
.Rproj.user/shared/notebooks/paths
.Rproj.user/FDF08713/sources/s-F624FDAF/lock_file
.Rproj.user/FDF08713/sources/s-F624FDAF/9FFEB4C5-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/9FFEB4C5
.Rproj.user/FDF08713/sources/s-F624FDAF/8A2A42D9-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/8A2A42D9
.Rproj.user/FDF08713/sources/s-F624FDAF/4C52FAE0-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/4C52FAE0
.Rproj.user/FDF08713/sources/s-F624FDAF/3F13453F-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/3F13453F
.Rproj.user/FDF08713/sources/s-F624FDAF/14C4EBBF-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/14C4EBBF
.Rproj.user/FDF08713/sources/s-F624FDAF/0DF7D014-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/0BB1E7A7-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/0BB1E7A7
.Rproj.user/FDF08713/sources/s-F624FDAF/0116BC06-contents
.Rproj.user/FDF08713/sources/s-F624FDAF/0116BC06
.Rproj.user/FDF08713/sources/prop/INDEX
.Rproj.user/FDF08713/sources/prop/AFFF929D
.Rproj.user/FDF08713/sources/prop/AE6019DE
.Rproj.user/FDF08713/sources/prop/A80B5C95
.Rproj.user/FDF08713/sources/prop/98A52E27
.Rproj.user/FDF08713/rmd-outputs
.Rproj.user/FDF08713/pcs/workbench-pane.pper
.Rproj.user/FDF08713/pcs/files-pane.pper
.Rproj.user/FDF08713/bookdown-crossref/index.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/07-references.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/06-share.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/05-blocks.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/04-citations.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/03-parts.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/02-cross-refs.Rmd.xref
.Rproj.user/FDF08713/bookdown-crossref/01-intro.Rmd.xref
.Rproj.user/FDF08713/bibliography-index/biblio.json
.Rproj.user/FDF08713/bibliography-index/biblio-files
.Rhistory
